<template>
  <div>
    <md-table
      class="crud-table"
      v-model="users"
      :table-header-color="tableHeaderColor"
    >
      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="Name">{{ item.name }}</md-table-cell>
        <md-table-cell md-label="Email">{{ item.email }}</md-table-cell>
        <md-table-cell md-label="Phone">{{ item.phone }}</md-table-cell>
        <md-table-cell md-label="Edit"
          ><button @click="detailRow(item)" class="btn btn-yellow">Edit</button>
        </md-table-cell>
        <md-table-cell md-label="Delete">
          <button @click="deleteRow(item)" class="btn btn-red">Delete</button>
        </md-table-cell>
      </md-table-row>
    </md-table>

    <div>
      <div>
        <md-dialog :md-active.sync="modalShow">
          <md-dialog-title>Edit User</md-dialog-title>

          <form style="display:block" class="m-l-25 m-r-25">
            <md-field>
              <label>Name</label>
              <md-input v-model="modal.name" :required="true"></md-input>
            </md-field>
            <md-field>
              <label>Email</label>
              <md-input
                v-model="modal.email"
                type="email"
                :required="true"
              ></md-input>
            </md-field>
            <md-field>
              <label>Phone</label>
              <md-input
                v-model="modal.phone"
                type="number"
                :required="true"
              ></md-input>
            </md-field>
            <div class="modal-footer">
              <button class="btn btn-yellow m-r-10" @click="updateUser">
                Edit
              </button>
              <button
                class="btn btn-red"
                @click="modalShow = false"
                type="close"
              >
                Close
              </button>
            </div>
          </form>
        </md-dialog>
      </div>
    </div>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import {
  required,
  email,
  minLength,
  maxLength
} from "vuelidate/lib/validators";
import { mapActions, mapState } from "vuex";
export default {
  name: "crud-table",
  mixins: [validationMixin],
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    },
    dataTable: {
      type: Array,
      default() {
        return [];
      }
    }
  },
  data() {
    return {
      selected: [],
      modalShow: false,
      modal: {
        _id: null,
        name: null,
        email: null,
        phone: null
      },
      users: []
    };
  },
  computed: {
    ...mapState("storeCRUD", [
      "list_user",
      "success_create",
      "success_edit",
      "success_detail",
      "success_delete"
    ])
  },
  validations: {
    modal: {
      _id: {},
      name: {
        required
      },
      email: {
        required,
        email
      },
      phone: {
        required
      }
    }
  },
  methods: {
    ...mapActions("storeCRUD", [
      "getList",
      "create",
      "update",
      "detail",
      "delete"
    ]),
    detailRow(data) {
      const { _id, name, email, phone } = data;
      this.modal._id = _id;
      this.modal.name = name;
      this.modal.email = email;
      this.modal.phone = phone;

      this.modalShow = true;
    },
    deleteRow(data) {
      const { _id } = data;
      this.delete({ _id: _id });
    },
    updateUser() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.update(this.modal);
      }
    },
    pushNotif(mode, res) {
      const type = mode == "delete" ? "error" : "success";
      const modes = mode == "delete" ? "Delete" : "Update";
      this.$notify({
        title: `<b class="f-10">Success ${modes} Data</b>`,
        text: `<span class="f-12"><b>${res.name}</b> updated Successfully</span>`,
        duration: 2000,
        type: type,
        speed: 1000
      });
    }
  },
  watch: {
    dataTable(data) {
      this.users = data;
    },
    success_edit(data) {
      this.pushNotif("update", data);
      this.$emit("updated", true);
      this.modalShow = false;
    },
    success_delete(data) {
      this.pushNotif("delete", data);
      this.$emit("updated", true);
    }
  }
};
</script>
<style lang="scss" scoped>
.md-dialog {
  width: 500px;
  min-height: 370px;
}
</style>
