// -----------------------------------
//         PADDING AND MARGIN
// -----------------------------------

$amount: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);

@each $space in $amount {
  @each $side in $sides {
    .m-#{$space}{
        margin: #{$space}px !important;
    }

    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
  
    .p-#{$space}{
        padding: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

@for $i from 1 through 100 {
    .f-#{$i} {
      font-size: #{$i}pt,
    }
  }
// -----------------------------------------------
//          CLASSES & TAG ELEMENT
// -----------------------------------------------

.content-wrapper{
    margin: 10px 20px;
}

.box-m-15{
    box-sizing: border-box;
    margin: 15px;
}

.crud-content{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
}

.btn{ 
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 0.875rem;
}

.btn-yellow{
    border: none;
    color: black !important;
    background-color: #ffc107 !important;
    cursor: pointer;

    &:hover{
        filter: brightness(95%) !important;
    }
}

.btn-red{
    border: none;
    color: white !important;
    background-color: #dc3545 !important;
    cursor: pointer;

    &:hover{
        filter: brightness(95%) !important;
    }
}

.crud-table {
    padding: 20px !important;
    background-color: #EEEEEE !important;
    table{
        background-color: #EEEEEE;
    }
}

.modal-footer{
    display: block;
    text-align: right;
}