<template>
  <div class="content-wrapper">
    <div class="crud-content">
      <div class="md-layout">
        <form style="display:flex;width:100%" @submit="addUser">
          <md-field class="box-m-15">
            <label>Name</label>
            <md-input v-model="user.name" :required="true"></md-input>
          </md-field>
          <md-field class="box-m-15">
            <label>Email</label>
            <md-input
              v-model="user.email"
              type="email"
              :required="true"
            ></md-input>
          </md-field>
          <md-field class="box-m-15">
            <label>Phone</label>
            <md-input
              v-model="user.phone"
              type="number"
              :required="true"
            ></md-input>
          </md-field>
          <md-card-actions>
            <md-button type="submit" class="md-primary">Add</md-button>
          </md-card-actions>
        </form>
      </div>
      <div>
        <crud-table
          table-header-color="purple"
          :data-table="user_table"
          @updated="getStatus"
        ></crud-table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import CrudTable from "@/components/Tables/CrudTable";

export default {
  components: {
    CrudTable
  },
  data() {
    return {
      user: {
        name: null,
        email: null,
        phone: null
      },
      user_table: null
    };
  },
  computed: {
    ...mapState("storeCRUD", [
      "list_user",
      "success_create",
      "success_edit",
      "success_detail",
      "success_delete"
    ])
  },
  methods: {
    ...mapActions("storeCRUD", [
      "getList",
      "create",
      "update",
      "detail",
      "delete"
    ]),
    addUser(data) {
      this.create(this.user);
    },
    getStatus(data) {
      if (data) {
        this.getList();
      }
    }
  },
  created() {
    console.log(this.$store)
    this.getList();
  },
  watch: {
    list_user(data) {
      this.user_table = data.map(value => value);
    },
    success_create(data) {
      this.$notify({
        title: `<b class="f-10">Success Add Data</b>`,
        text: `<span class="f-12"><b>${data.name}</b> added to table</span>`,
        duration: 2000,
        type: "success",
        speed: 1000
      });
      this.user_table.push(data);
    }
  }
};
</script>
